body {
    padding-top: 10px;
    text-align: center;
}

.container {
  padding-top: 10px;
  width: 100% !important;
  text-align: center !important; 
}

.logo {
  padding-bottom: 35px;
  text-align: center;
  width: 70%;
}

.row {
  padding: 5px;
}

img {
  width: 90px;
}

.menu {
  width: 100%;
  table-layout: fixed;
}

.menu td {
  padding-top: 30px;
  padding-bottom: 10px;
}

.menu td:first-child {
    width: 80px;
    text-align: center;
}

.menu td:last-child {
    text-align: left;
    padding-left: 20px;
}

.menu td button {
  padding-top: 0px;
}

.food-icon {
  width: 65px;
  height: 65px;
}

.items {
  width: 100%;
  table-layout: fixed;
  height: 100%;
}

.items td {
  padding-top: 0px;
  padding-bottom: 10px;
}

.items td span {
  padding-top: 0px;
}

.items td:first-child{
  text-align: left;
  padding-left: 0px;
}

.items td:nth-child(2) {
  text-align: left;
  width: 20px
}

.items td button {
  border-radius: 30px;
  width: 70px;
  background-color: cadetblue;
}

